* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}

canvas {
  display: flex;
  border: 1px rgb(100, 100, 100) solid;
}
