* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}

canvas {
  border: 5px rgb(203, 213, 224) solid;
  border-radius: 5px;
}
